*{
    margin: 0;
    padding: 0;
}

.contenedor{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #f3f5fc;
}

.texto{
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: #f3f5fc;
    resize: none;
    
}

.texto::placeholder{
    color: #0a3871;
}

.texto:focus,
.texto:active{
    border: none;
    outline: none;
}

.terminos{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;
}

.terminos p{
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    border: 1;
    flex-grow: 0;
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 82%;
}

.btn-declarar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    margin-right: 15px;
    background-color: #0a3871;
    border-radius: 24px;
    font-family: "Inter";
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
}

.btn-limpiar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background: #d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #0a3871;
}

.btn-limpiar:hover,
.btn-declarar:hover{
    margin: 0.3%;
    margin-right: 15px;
    width: 24.5%;
    padding: 1.8%;
}

.caja{
    display: flex;
    position: absolute;
    border-radius: 25px;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    background: #ffffff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);

}

.declarado{
    display: flex;
    justify-content: center;
    border-radius: 25px;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    background: #ffffff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.texto2{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    border: none;
    border-radius: 25px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    background-color: #ffffff;
    resize: none;
    text-align: center;
}

.mensajeDeclarado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
}

.mensajeDeclarado h2{
    display: flex;
    width: 60%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343a40;
}

.mensajeDeclarado p{
    display: flex;
    width: 60%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
}

.declarado img{
    display: flex;
    position: absolute;
    width: 80%;
    height: 50%;
    top: 15%;
}

/*responsive design */
@media (max-width: 57.5em){
    .contenedor{
        display: flex;
        flex-direction: row;
    }
    .declarar{
        width: 100%;
    }
    .texto{
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
    }

    .terminos{
        width: 80%;
        left: 10%;
        top: 67%;
    }
    .terminos p{
        font-size: 16px;
    }
    .botones{
        width: 80%;
        left: 10%;
        top: 70%;
    }
    .btn-declarar,
    .btn-limpiar{
        width: 48%;
        border-radius: 16px;
    }

    .btn-declarar:hover,
    .btn-limpiar:hover{
        margin:0.3%;
        margin-right: 15px;
        width: 47.5%;
        padding: 1.8%;
    }


    .caja{
        width: 80%;
        height: 15%;
        left: 10%;
        top: 77%;
    }
    .declarado{
        width: 80%;
        height: 15%;
        left: 10%;
        top: 80%;
    }
    .mensajeDeclarado{
        width: 80%;
        top: -400%;
    }
    .declarado img{
        top: 0;
        display: none;
        visibility: hidden;
    }
    
}